<div class="container">

    <ul class="nav nav-tabs">
        <li class="active" id="genInfo-tab"><a href="" ng-click="selectTab('genInfo')">General Info</a></li>
        <li id="teams-tab"><a href="" ng-click="selectTab('teams')">Teams</a></li>
        <li id="matchInfo-tab"><a href="" ng-click="selectTab('matchInfo')">Match Info</a></li>
        <li id="locations-tab"><a href="" ng-click="selectTab('locations')">Locations (Fields/Courts)</a></li>
        <li id="calendar-tab"><a href="" ng-click="selectTab('calendar')">Calendar</a></li>
        <li id="schedule-tab"><a href="" ng-click="selectTab('schedule')">Schedule</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="genInfo-tabPane">
            <h2>General Info</h2>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <form role="form" name="generalInfoForm">
                        <div class="form-group">
                            <label for="scheduleName">Schedule Name</label>
                            <input id="scheduleName" ng-model="schedule.name"
                                   type="text" class="form-control" required
                                   placeholder="Enter a name for your Schedule">
                        </div>
                        <div class="form-group">
                            <label for="sportName">Sport</label>
                            <input id="sportName" ng-model="schedule.sportName"
                                   type="text" class="form-control" required
                                   placeholder="Enter the sport your schedule is for">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary pull-right"
                        ng-click="selectTab('teams')"
                        ng-disabled="generalInfoForm.$invalid">Next <i class="glyphicon glyphicon-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="tab-pane" id="teams-tabPane">
            <h2>Teams</h2>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <form role="form" name="teamsForm">
                        <div class="form-group">
                            <label for="numberOfTeams"># of Teams</label>
                            <select class="form-control" id="numberOfTeams" ng-model="teams.number" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary pull-right"
                        ng-click="selectTab('matchInfo')"
                        ng-disabled="teamsForm.$invalid">Next <i class="glyphicon glyphicon-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="tab-pane" id="matchInfo-tabPane">
            <h2>Match Info</h2>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <form role="form" name="matchForm">
                        <div class="form-group">
                            <label for="matchupCount"># of Times Teams Play Each Other</label>
                            <select class="form-control" id="matchupCount" ng-model="match.matchupCount" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="matchLength">Match Length (hours)</label>
                            <select class="form-control" id="matchLength" ng-model="match.matchLength" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary pull-right"
                        ng-click="selectTab('locations')"
                        ng-disabled="matchForm.$invalid">Next <i class="glyphicon glyphicon-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="tab-pane" id="locations-tabPane">
            <h2>Locations (Fields/Courts)</h2>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <form role="form" name="locationsForm">
                        <div class="form-group">
                            <label for="locationsCount"># of Locations Available</label>
                            <select class="form-control" id="locationsCount" ng-model="locations.number" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary pull-right"
                        ng-click="selectTab('calendar')"
                        ng-disabled="locationsForm.$invalid">Next <i class="glyphicon glyphicon-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="tab-pane" id="calendar-tabPane">
            <h2>Calendar</h2>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <form role="form" name="calendarForm">
                        <div class="form-group">
                            <label for="daysCount"># of Days for Matches (assumed 8 hours per day)</label>
                            <select class="form-control" id="daysCount" ng-model="calendar.days" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary pull-right"
                        ng-click="selectTab('schedule')"
                        ng-disabled="calendarForm.$invalid">Next <i class="glyphicon glyphicon-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="tab-pane" id="schedule-tabPane">
            <h2>Schedule</h2>
            <div class="row">
                <button class="btn btn-primary"
                        ng-click="generateSchedule()"
                        >Generate Schedule <i class="glyphicon glyphicon-cog"></i>
                </button>
            </div>
            <div class="row">
                <pre>{{generatedSchedule | json}}</pre>
            </div>
        </div>
    </div>
</div>